<a href="https://colab.research.google.com/github/zsyver/math/blob/main/fibonacci_fun.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [33]:
# The fibonacci sequence is defined as the summation of the sequence of numbers starting from 0. Mathematically it is defined as (F(N - 1) + F(N - 2)).

def Fibonacci_Fun(n):
  if n < 0:
    print("Negative input detected.")
  elif n == 0:
    return 0
  elif n == 1 or n == 2:
    return 1
  else:
    return Fibonacci_Fun(n-1) + Fibonacci_Fun(n-2)

In [35]:
print(Fibonacci_Fun(9))

34